*{
    margin:0;
    padding: 0;
}
body{
    text-align: center;
    background-color: #D8B4E2;
}
h2{
    font-size: 4vmin;
    font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;


}
.outer-frame{
    width: 83vmin;
    height: 80vmin;
    border: 1px solid black;
    margin: auto;
    margin-top: 4vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 3rem;
    background-color:#55286F ;
    
    
}
.btn{
    width: 23vmin;
    height: 23vmin;
    gap: 5px;
    margin: auto;
    border: none;
    border-radius: 3rem;
    background-color: #BC96E6;
    box-shadow: 3px 3px 20px rgb(128, 7, 221);
    font-size: 11vmin;
    color: rgb(255, 64, 0);
    cursor: pointer;
    
    
}
h1{
    font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  font-size: 30px;
}
.btn:hover{
    background-color: rgb(122, 70, 177);
}
.reset{
  

  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin:auto;
  margin-top: 2rem;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.reset:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .reset-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}
